html, body { /* gets rid of gaps so that it fills the entire span of the page */
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px; /* when the user minimizes their browser the body will not go any smaller than 720px */
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 600px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box; /* this includes the 16px padding in the height so that is stays 90px instead of 106px */
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle; /* this is so that all the buttons are lined up*/
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
    width: 35px;
    height: 35px;
}

.controlButton:hover {
    cursor: pointer;
}

.progressTime {
    color: #a0a0a0;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background: #404040;
    height: 5px;
    width: 100%;
    border-radius: 3px;
}

.progress {
    background-color: #a0a0a0;
    height: 5px;
    width: 0;
    border-radius: 3px;
}

.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover; /* will resize images to make sure entire space is covered*/
}

.trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh; /* means that the navBar will always be 100% of the view height on the page */
    position: fixed;
    top: 0; /* along with a fixed position the navBar will always stay to the top left of the page */
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column; /* flex support for internet explorer users */
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 40px;
}

.navBar .group {
    border-top: 1px solid #A0A09D;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 560;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #ffc778;
    text-decoration: none; /* removes line under links */
}

.navItemLink:hover {
    color: #fff;
}

.icon {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
}

#mainViewContainer {
    margin-left: 220px;     /*this is so the content of the page doesn't overlap/underlap the navigation bar, same goes for the padding*/
    padding-bottom: 90px;
    width: calc(100% - 220px); /* calculates the full width of the page minus the navigation bar, instead of doing it manually */
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 25%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img {
    width: 100%;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis; /* this is for in case the album title is too long and changes the text that would extent outside of the container into ellipsis */
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a {
    text-decoration: none;
}
